body {
    font-family: Rubik,sans-serif;
    font-size: 16px;
    font-weight: 300;
}

a {
    text-decoration: none;
}

p {
    line-height: 175%;
}

.wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    padding: 80px 30px;
    width: 100%;
}

.logo {
    color: #191a1d;
    display: inline-block;
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 70%;
}

.logo:after {
    background: #4b6cc1;
    border-radius: 1000px;
    content: "";
    display: block;
    height: 6px;
    width: 100%;
    margin-top: 6%;
    max-width: 10%;
    margin-bottom: 8%;
}

.header__section--media {
    flex-shrink: 0;
    margin-right: 4.1493775934%;
}

.header__section--menu {
    align-self: center;
    width: 100%;
}

.header {
    display: flex;
    margin-bottom: 80px;
}

.menu {
    text-self: center;
    width: 100%;
}

.page {
    max-width: 675px;
}

.page, .wrap {
    margin-left: auto;
    margin-right: auto;
}

.menu__item {
    color: #5e5e5e;
    margin-top: 3.640776699%;
    padding: 0px 20px 0px 0px;
}

.header__section--media img {
    border-radius: 1000px;
    display: block;
    width: 100px;
}

.form__label, .logo, .menu__item, .subheading, .txt-upper {
    font-weight: 500;
    letter-spacing: .0625rem;
    text-transform: uppercase;
}

/*
@media screen and (max-width: 500px)
.header {
    margin-bottom: 40px;
}

@media screen and (max-width: 768px)
.header {
    flex-direction: column;
}*/
