<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, viewport-fit=cover">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">

    <title>
        Contact |
        Naveen Sequeira

    </title>

</head>

<body>
<div class="wrap">
    <header class="header">
        <div class="header__section header__section--media">
            <a href="/">
                <img alt=""
                     height="100"
                     src="../static/img/selfie-circular.png"
                     width="100">
            </a>
        </div>
        <div class="header__section header__section--menu">
            <a class="logo" href="/">
                Naveen Sequeira
            </a>
            <nav class="menu">
                <a class="menu__item " href="/projects">
                    Projects
                </a>
                <a class="menu__item " href="/contact">
                    Contact
                </a>
            </nav>
        </div>
    </header>

</body>
</html>