<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, viewport-fit=cover">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">

    <title>
        Projects |
        Naveen Sequeira

    </title>

</head>

<body>
    <div class="wrap">
    <header class="header">
        <div class="header__section header__section--media">
            <a href="/">
                <img alt=""
                     height="100"
                     src="../static/img/selfie-circular.png"
                     width="100">
            </a>
        </div>
        <div class="header__section header__section--menu">
            <a class="logo" href="/">
                Naveen Sequeira
            </a>
            <nav class="menu">
                <a class="menu__item " href="/projects">
                    Projects
                </a>
                <a class="menu__item " href="/contact">
                    Contact
                </a>
            </nav>
        </div>
    </header>

            <div class="mb-large">
        <h1 class="mb-tiny">
            Projects
        </h1>
                    <p class="txt-large">
                A list of my Python projects.
            </p>
            </div>

    <!--<section>
                                    <div class="project-preview">
                    <figure class="project-preview__media">
                        <a href="/projects/harlist">
                            <img src="https://res.cloudinary.com/sebkay/image/upload/h_640,w_578/v1629038789/harlist-_2x_fadl55.jpg"
                                srcset="https://res.cloudinary.com/sebkay/image/upload/h_640,w_578/v1629038789/harlist-_2x_fadl55.jpg 1x, https://res.cloudinary.com/sebkay/image/upload/v1629038789/harlist-_2x_fadl55.jpg 2x"
                                alt="Screenshot of Harlist">
                        </a>
                    </figure>

                    <div class="project-preview__content">
                        <h2 class="project-preview__title">
                            <a href="/projects/harlist">
                                Harlist
                            </a>
                        </h2>

                        <p class="project-preview__desc">
                            A to do app with a focus on simplicity. Only the features you need to get things done.
                        </p>

                                                    <div class="project-preview__meta">
                                <ul class="list list&#45;&#45;regular">
                                                                            <li class="list__item">
                                            Logo Design
                                        </li>
                                                                            <li class="list__item">
                                            Web App Design
                                        </li>
                                                                            <li class="list__item">
                                            Web App Development
                                        </li>
                                                                    </ul>
                            </div>

                        <div class="project-preview__action">
                            <a href="/projects/harlist" class="btn">
                                View Details
                            </a>
                        </div>
                    </div>
                </div>
                            <div class="project-preview">
                    <figure class="project-preview__media">
                        <a href="/projects/inspirational-pixels">
                            <img src="https://res.cloudinary.com/sebkay/image/upload/h_640,w_578/v1629038939/inspirational-pixels-_2x_llfxsl.jpg"
                                srcset="https://res.cloudinary.com/sebkay/image/upload/h_640,w_578/v1629038939/inspirational-pixels-_2x_llfxsl.jpg 1x, https://res.cloudinary.com/sebkay/image/upload/v1629038939/inspirational-pixels-_2x_llfxsl.jpg 2x"
                                alt="Screenshot of Inspirational Pixels">
                        </a>
                    </figure>

                    <div class="project-preview__content">
                        <h2 class="project-preview__title">
                            <a href="/projects/inspirational-pixels">
                                Inspirational Pixels
                            </a>
                        </h2>

                        <p class="project-preview__desc">
                            Web design blog focused on helping beginners with tutorials, videos, code snippets and freebies.
                        </p>

                                                    <div class="project-preview__meta">
                                <ul class="list list&#45;&#45;regular">
                                                                            <li class="list__item">
                                            Logo Design
                                        </li>
                                                                            <li class="list__item">
                                            Web Design
                                        </li>
                                                                            <li class="list__item">
                                            WordPress Development
                                        </li>
                                                                    </ul>
                            </div>

                        <div class="project-preview__action">
                            <a href="/projects/inspirational-pixels" class="btn">
                                View Details
                            </a>
                        </div>
                    </div>
                </div>
                        </section>-->
    </div>

    </body>

</html>
